header {
    background-color: blue;
    font-weight: bold;
    color:white;
    text-align: center;
}

/* #searchBarContainer{
/* max-width: 875px; */
/* text-align: left;

} */



.container{
    margin: 1px!important;
}

#resultsCard {
    align-items: center!important;
}

li {
    list-style: none!important;
}